/*
     __  ___  _____     _   _____  __    
  /\ \ \/ __\ \_   \   /_\ /__   \/ _\   
 /  \/ / /     / /\/  //_\\  / /\/\ \    
/ /\  / /___/\/ /_   /  _  \/ /   _\ \   
\_\ \/\____/\____/   \_/ \_/\/    \__/   
                                         
*/

/* style.css */

/* global */
body { color: #323132; font-family: Arial,sans-serif; }
h1 { color: #ffffff; font-size: 26px; margin-top: 5px; margin-bottom: 5px;  }
h2 { color: #ffffff; font-size: 14px; margin-top: 5px; margin-bottom: 5px; }
a, a:hover, a:focus { color: #323132; text-decoration: none; }
label { font-size: 13px; font-weight: normal; }

.f-open { font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }
.f-merri { font-family: Merriweather,'Helvetica Neue',Arial,sans-serif; }

/* head*/
header { color: #ffffff; background-color: #00539B; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px;  }
header a { color: #ffffff; }
header a:hover, header a:focus { color: #99CCCC; text-decoration: none;}
.head-logo-div { padding: 2px; margin-top: 3px; }
.head-logo { height: 50px; width: 115px;}
.head-title-div {float: left; padding-left: 10px; }
.head-title { font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; }
.head-title:hover, .head-title:focus, .head-title:active { color: #ffffff !important; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; }
.head-sub { font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif !important; }

/* foot */
footer { color: #ffffff; background-color: #6699CC; margin-top: 20px; padding-bottom: 25px; padding-top: 25px }
footer a { color: #ffffff; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }
footer a:hover, footer a:focus { color: #ffffff; text-decoration: underline; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;}

.footer-brand {
  float: left;
  padding-left: 15px;
}
.footer-nav {
  padding: 8px 15px;
}
.footer-brand img {float: left; display:block;}
.footer-brand span {
  float: left;
  display: block;
  font-size: 11px;
  color: #ffffff;
  padding-left: 16px;
}
.footer-brand span.app-dev {
  clear: left;
  font-size: 13px;
  padding-left: 60px;
  margin-top: -13px;
  color: #FFF!important;
}
.footer-brand span.app-name {
  font-style: italic;
}
.footer-links { margin-top: 10px; }

/* navs */
.navbar-right { margin-top: 12px;}
.navbar-right li a { color: #ffffff !important; }
.navbar-right li  a:hover, header a:focus { color: #00539B !important; text-decoration: none !important;}

.legend-table div.tooltip-inner {
    width: 350px;
}

.navbar {
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
   box-shadow: none;
}
.navbar-toggle .icon-bar { background-color: #444 !important; }
.navbar-toggle  { background-color: #ffffff !important; }
.nav>li>a { padding: 8px; 8px; }

/* color */
.fda-blue { color: #00539B; }
.fda-midtone { color: #6699CC; }
.fda-tint { color: #99CCCC; }
.fda-black { color: #323132; }
.fda-accent1 { color: #CC6633; }
.fda-accent2 { color: #A3C658; }
.fda-accent3 { color: #E2C752; }
.fda-accent4 { color: #993333; }
.fda-blue-bg { background-color: #00539B; }
.fda-midtone-bg { background-color: #6699CC; }
.fda-tint-bg { background-color: #99CCCC; }
.fda-black-bg { background-color: #323132; }
.fda-accent1-bg { background-color: #CC6633; }
.fda-accent2-bg { background-color: #A3C658; }
.fda-accent3-bg { background-color: #E2C752; }
.fda-accent4-bg { background-color: #993333; }

/* form */

.form-control, .form-control:focus { box-shadow: none; height: 36px; }
.input-group { width: 100%; }
.input-group .form-control:first-child { border-right: none; border-radius: 0; height: 36px; padding-right: 32px; }
.form-control:focus { border-color: #99CCCC; }
.btn-default {height:36px;}

filter-select { font-family: Arial,sans-serif; box-shadow: none; font-size: 12px; border: none;  }

/* button */
.input-group-btn button:hover { border-color: #6699CC; background: #fff;}
.input-group-btn button:focus { border-color: #6699CC; background: #fff;}
.input-group-btn button { background: #FFF; border-radius: 0;  }
.input-group-btn:first-child > .btn { border-left: none; padding-bottom: 5px; }
.input-group-btn:last-child > .btn { margin-left: 5px; padding-bottom: 5px; }
.input-group .divider { border-left: 1px solid #CCCCCC; height: 25px; position: absolute; top: 6px; z-index: 9; }

/* section */
.panel { border: none; border-radius: 0; box-shadow: none; margin-bottom: 0; }
.panel-body { padding: 5px 0; background-color: #eeeeef; }

#filter-option {margin-top: 10px; margin-bottom: 6px; }

.recall-status { font-size: 14px; font-weight:700; color: #000; margin-bottom: 0px;}
.recall-dates { font-size: 14px; font-style:italic; color: #808284;}
.recall-dates span { font-size: 14px; font-weight:600; }
.recall-num { font-size: 18px; color: #000; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; }
.recall-firm { font-size: 16px; font-weight: bold;  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }
.recall-product { font-size: 12px;}
.recall-reason { font-size: 12px; font-style: italic;}
.recall-pop { font-size: 13px; }

.text-div { min-height: 360px; width: 100%; padding: 0px; }
#text-div-selected-scroll {overflow-y: auto; height: 136px;}
#text-div-info {width: 100%; margin: 0 auto; margin-bottom: 3px;}
#text-div-pop { width: 100%; color: #ffffff; padding: 3px; margin: 3px; }
#text-div-pop-bg { background-color: #6699CC; margin: 0px -24px 0px -24px }
#text-div-pop-in{ margin: 4px 24px 4px 24px; padding: 6px 0px; }
#text-div-pop-in hr {margin-top: 6px; margin-bottom: 6px; color: #ffffff; }

#text-div-noresults { height: 100%; width: 100%; text-align: center; }
.text-div-noresults-sorry { font-size: 20px; font-weight: bold; color: #CC6633; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; text-align: center; margin-top: 80px; }
.text-div-noresults-help a {}

#text-div-national p { font-size: 14px; color: #323132; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; margin-bottom: 10px; }
#text-div-national p:first-of-type::first-letter { initial-letter: 3; color: red; }
#text-div-national p.text-div-national-first:first-of-type::first-letter { initial-letter: 10; color: #00539B; float: left; font-size: 50px; line-height: 46px; padding-top: 4px; padding-right: 8px; padding-left: 3px;}

#text-div-pop-title { font-size: 18px; color: #ffffff; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important; text-align: center; margin-bottom: 4px;}

.recall-crowd-text { font-style: italic;}

.recall-download { font-size: 12px; color: #888888; text-align: right; width: 100%; position: relative; }
.recall-download a { font-size: 12px; color: #6699CC; }
.recall-download a:hover, .recall-download a:active , .recall-download a:focus  { font-size: 12px; color: #00539B; text-decoration: underline;}

#download-data:hover, #download-data:active, #download-data:focus { cursor: pointer; text-decoration: underline; }

.btn-crowd , .btn-crowd:hover, .btn-crowd:active, .btn-crowd:focus { background: #A3C658; color: #ffffff; font-weight: normal; width: 144px;   text-shadow: none;  font-size: 13px; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important;}

/* map */
#map { height: 670px; }
.map-container { position: relative; margin-top: 8px; }

.btn-geo { border: 1px solid rgba(0, 0, 0, 0.4); border-radius: 3px; left: 10px; padding: 2px; position: absolute; width: 28px; height: 26px; background: #ffffff; }

.btn-geo-current { top: 110px; z-index: 9; }
.btn-geo-nation { top: 145px; z-index: 9; }
.btn-geo-legend { top: 180px; z-index: 9; }

.map-legend { top: 180px; left: 10px; position: absolute; z-index: 1001; }
.map-legend-hd { border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 12px; padding: 5px 0 5px 5px; }
.map-legend-hd .btn { background-color: transparent; font-size: 10px; }
.map-legend-hd .map-legend-name { font-size: 13px; }
.map-legend-desc { font-size: 13px; font-style: italic; text-align: center; width: 100%; }
.map-legend-type-sub { font-style: italic;}
.legend { background-color: rgba(255, 255, 255, 0.9); border: 1px solid #888888; border-radius: 3px; bottom: -5px; color: #333; width: 150px; }
.legend-table-div { padding: 2px 8px 4px 8px;}
.legend-table { }
.legend-table  td { padding: 2px; font-size: 13px;}

/* charts */
.charts-div { width:100%; min-height: 300px; margin: 0 auto; }

/** carousel **/

.jcarousel-wrapper { width: 100%; box-shadow: none; margin: 10px 10px 4px 10px;}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel li {
    float: left;
    width: 100%;
}

.jcarousel-pagination { bottom: -8px;}
.jcarousel-control-prev { left: -25px;}
.jcarousel-control-next { right: -25px;}

/* responsive */
@media only screen and (max-width : 320px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin: 20px 0 15px; }
	h1 { font-size: 16px; margin-top: 12px; }
	h2 { font-size: 11px; white-space: nowrap; }
	.head-title-div {display: none;}
	footer .pull-right { float: none !important; }
}
@media only screen and (min-width : 320px) and (max-width : 479px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin: 20px 0 15px; }
	h1 { font-size: 16px; margin-top: 12px; }
	h2 { font-size: 11px; white-space: nowrap; }
	.head-title-div {display: none;}
	footer .pull-right { float: none !important; }
}
 @media only screen and (min-width : 480px) and (max-width : 569px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin: 20px 0 10px; }
	footer .pull-right { float: none !important; }
	h1 { font-size: 18px; margin-top: 14px; }
	h2 { display: none; }
}
 @media only screen and (min-width : 570px) and (max-width : 669px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin: 20px 0 10px; }
	footer .pull-right { float: none !important; }
	h1 { font-size: 24px; margin-top: 14px; }
	h2 { display: none; }
}
 @media only screen and (min-width : 670px) and (max-width : 767px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin: 20px 0 10px; }
	footer .pull-right { float: none !important; }
	h2 { font-size: 14px; white-space: nowrap; }
}
 @media (min-width: 768px) and (max-width : 991px) {
	#map { height: 67vh; min-height: 200px; }
	.col-full { padding-left: 0; padding-right: 0; }
	.panel { margin-top: 20px; }
	.nav_link  span { display: none;}
	.nav_link  { display: none; font-size: 18px;}
}
 @media (min-width: 992px) {

}
.selectWidth {
	width: auto;
	margin-right: 5px;
}